.overlay {
    position: absolute;
    z-index: 9;
}

.sidebar {
    align-items: center;
    border-right: 1px solid #fff;
    flex: 0 0;
    z-index: 99;
    color: #fff;
    background-color: #191919;
    padding: .4em;
    font-family: sans-serif;
}

.sidebar .profile-picture {
    width: 4em;
    height: 4em;
    border-radius: 1em;
    margin: .2em;
}

#username {
    margin-bottom: 0.5em;
}

.sidebar > button {
    width: 100%;
    padding: .4em;
    margin: .1em;
    border-radius: .2em;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.sidebar > button.toggled {
    background-color: #bee4fd;
}

.sidebar > button:hover {
    color: #999;
}

.slideshow {
    flex: 1 0;
    z-index: 0;
}

/* Sidebar */
#chat-window {
    width: 500px;
    height: 200px;
    transition: .2s;
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    transition: .4s;
}

#chat-window.hidden {
    transform: translate(-100%, 0);
}

#chat-window > header {
    font-weight: bold;
    padding: .5em;
}

#chat-message-container {
    overflow-y: scroll;
    justify-content: flex-start;
}

.chat-message {
    flex: 0 0;
    padding: 0 0 1em 0;
}

.profile-picture {
    width: 2em;
    height: 2em;
    border-radius: 1em;
}

.chat-message-username {
    font-weight: bold;
}

.chat-message-timestamp {
    font-style: italic;
    color: #888;
}

.chat-message-header {
    margin-bottom: .2em;
}

.chat-message .profile-picture {
    margin-right: .5em;
}

#chat-form {
    width: 100%;
}

#chat-input {
    width: calc(100% - 1em);
    border-radius: .2em;
    padding: .5em;
    margin: .5em;
}   

.mention {
    color: #ff97da;
}

.achievement {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    border-radius: 50px;
    background: grey;
    transition: .2s;
}

.achievement.inactive {
    opacity: 0;
    transform: translate(0, -100%);
}