<div id="chat-window" class="hidden box vertical closed">
    <header>
        Group chat
    </header>
    <div id="chat-message-container" class="box vertical">
        <template class="chat-message-template">
            <div class="chat-message">
                <a id="profile-link">
                    <img class="profile-picture faded-out t2s fl" id="profile-picture" onload="this.classList.remove('faded-out')">
                </a>
                <div class="chat-message-text">
                    <div class="chat-message-header">
                        <span class="chat-message-username" id="username"></span>
                        <span class="chat-message-timestamp" id="timestamp"></span>
                    </div>
                    <div class="chat-message-body" id="body">
                    </div>
                </div>
            </div>
        </template>
    </div>
    <footer>
        <form id="chat-form">
            <input id="chat-input" name="message" type="text" maxlength="200" placeholder="Type here to chat. Use @&lt;name&gt; to mention another user.">
        </form>
    </footer>
</div>