<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Web Security Basics</title>

	<!-- Overlay -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/common.css">
	<link rel="stylesheet" href="static/presentation.css">
</head>
<body>
	<div class="box fill">
		<div class="sidebar box vertical">
			<img class="profile-picture" src="{{ profile_photo }}"></img>
			<span id="username">{{ username }}</span>
			<button id="chat-button">Chat</button>
			<button id="challenges-button">Challenges</button>
			<button id="presentation-button">Presentation</button>
			<button id="users-button">Users</button>
			<button id="log-out-button">Log out</button>
		</div>
		<div class="slideshow">
			<div class="overlay fill">
				{% include 'chat.html' %}
				{% include 'achievement.html' %}
			</div>
			<iframe id="content-iframe" class="fill" src="/presentation"></iframe>
			<!-- {% include 'presentation.html' %} -->
			<script src="static/socketio/socket.io.js"></script>
			<script src="static/overlay.js"></script>
		</div>
	</div>
</body>
</html>