<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>Web Security Basics</title>

        <!-- Overlay -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/overlay.css">

        <!-- Presentation -->
		<link rel="stylesheet" href="static/reveal/css/reset.css">
		<link rel="stylesheet" href="static/reveal/css/reveal.css">
        <link rel="stylesheet" href="static/reveal/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="static/reveal/lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'static/reveal/css/print/pdf.css' : 'static/reveal/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
    </head>
<body>
    <div class="overlay">
        {% include 'exercises.html' %}
        {% include 'chat.html' %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf-8">
			var socket = io();
			socket.on('connect', function() {
				socket.emit('chat_message', 'testsadfqwer');
			});
			socket.on('chat_message', function(data) {
				console.log(data)
			})

			let chat = document.getElementById('chat');
			let chat_input = document.getElementById('chat-input');
			function chatError(message) {
				console.error(message);
			}
			chat.onsubmit = function() {
				socket.emit('chat_message', chat_input.value);
				return false;
			}
		</script>
    </div>
    <div class="slideshow">
        {% include 'presentation.html' %}
    </div>
</body>
</html>