<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Web Security Basics</title>

	<!-- Overlay -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="static/common.css">
	<link rel="stylesheet" href="static/presentation.css">

	<!-- Presentation -->
	<link rel="stylesheet" href="static/reveal/css/reset.css">
	<link rel="stylesheet" href="static/reveal/css/reveal.css">
	<link rel="stylesheet" href="static/reveal/css/theme/black.css">

	<!-- Theme used for syntax highlighting of code -->
	<link rel="stylesheet" href="static/reveal/lib/css/monokai.css">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? 'static/reveal/css/print/pdf.css' : 'static/reveal/css/print/paper.css';
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>
</head>
<body>
	<div class="box fill">
		<div class="sidebar box vertical">
			<img class="profile-picture" src="/static/data/profile_photos/admin.jpg"></img>
			<span id="username">{{username}}</span>
			<button id="chat">Chat</button>
			<button id="challenges">Challenges</button>
			<button id="users">Users</button>
			<button id="log out">Log out</button>
		</div>
		<div class="slideshow">
			<div class="overlay">
				{% include 'exercises.html' %}
				{% include 'chat.html' %}
				<script src="static/socketio/socket.io.js"></script>
				<script src="static/overlay.js"></script>
			</div>
			{% include 'presentation.html' %}
		</div>
	</div>
</body>
</html>