
<html>
	<head>
		<!-- Presentation -->
		<link rel="stylesheet" href="static/reveal/css/reset.css">
		<link rel="stylesheet" href="static/reveal/css/reveal.css">
		<link rel="stylesheet" href="static/reveal/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="static/reveal/lib/css/monokai.css">
	</head>
<body>
<div class="reveal">
	<div class="slides">
		<section>
			<h2>Practical Web Security</h2>
			<h4>Alex Curtiss</h4>
			<p>
				<small><a target="_blank" href="//twitter.com/apccurtiss">@apccurtiss</a></small>
			</p>
		</section>

		<section>
			<h2>Client-Side Anything</h2>
			<p>
				Anything sent to a client is controlled by the client!
			</p>
			<p>
				HTML/CSS: <a target="_blank" href="https://www.scribd.com/document/155028629">Paywall on Scribd</a>
			</p>
			<p>
				JavaScript: <a target="_blank" href="https://sso.godaddy.com/account/create">Password on GoDaddy</a>
			</p>
		</section>

		<section>
			<h2>Client-Side Anything</h2>
			<p>
				Mitigations:
				<ul>
					<li>Never send anything sensitive to the client</li>
					<li>Never run important code on the client</li>
					<li>Never trust the client</li>
				</ul>
			</p>
			<p>
				Correct implementation: <a target="_blank" href="https://www.chegg.com/homework-help/questions-and-answers/4-add-array-allow-input-strings-input-field-new-name-entered-add-array-nearby-div-show-nam-q44748363">Chegg</a>
			</p>
		</section>

		<section>
			<h2>Cross-Site Scripting (XSS)</h2>
			<h3>Or, "Whose HTML is it anyway?"</h3>
			<p>
				<img src='static/data/xss_example.webp' width=500>
			</p>
		</section>

		<section>
			<h2>Cross-Site Scripting (XSS)</h2>
			<h3>Or, "Whose HTML is it anyway?"</h3>
			<p>
				Mitigations:
				<ul>
					<li><s>Never take user input</s></li>
					<li>Use safe functions such as e.textContent instead of e.innerHTML</li>
					<li>Use a Content Security Policy</li>
				</ul>
			</p>
		</section>

		<section>
			<h2>Cookie Manipulation</h2>
			<p>
				
			</p>
		</section>

		<section>
			<h2>Cookie Manipulation</h2>
			<p>
				Mitigations:
				<ul>
					<li>Cryptographically secure cookies</li>
					<li>Secure & HttpOnly cookies</li>
				</ul>
			</p>
		</section>
	</div>
</div>

<script src="static/reveal/js/reveal.js"></script>

<script>
	// More info about config & dependencies:
	// - https://github.com/hakimel/reveal.js#configuration
	// - https://github.com/hakimel/reveal.js#dependencies
	Reveal.initialize({
		hash: true,
		dependencies: [
			{ src: 'static/reveal/plugin/markdown/marked.js' },
			{ src: 'static/reveal/plugin/markdown/markdown.js' },
			{ src: 'static/reveal/plugin/highlight/highlight.js' },
			{ src: 'static/reveal/plugin/notes/notes.js', async: true }
		]
	});
</script>

<!-- Printing and PDF exports -->
<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? 'static/reveal/css/print/pdf.css' : 'static/reveal/css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>

<script>
	// When messaged, change to that slide.
	window.onmessage = function(e) {
		[indexh, indexv] = e.data.split('/').map(Number);
		Reveal.slide(indexh, indexv);
	};
	
	// On slide change, notify parent.
	Reveal.addEventListener('slidechanged', function(event) {
		window.top.postMessage({
			slide: `${event.indexh}/${event.indexv}`,
			user_caused: event.previousSlide !== undefined,
		}, '*');
	});
</script>
</body>
</html>