
<html>
	<head>
		<!-- Presentation -->
		<link rel="stylesheet" href="static/reveal/css/reset.css">
		<link rel="stylesheet" href="static/reveal/css/reveal.css">
		<link rel="stylesheet" href="static/reveal/css/theme/black.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="static/reveal/lib/css/monokai.css">
	</head>
<body>
<div class="reveal">
	<div class="slides">
		<section>
			<h2>Practical Web Security</h2>
			<h4>Alex Curtiss</h4>
			<p>
				<small><a target="_blank" href="//twitter.com/apccurtiss">@apccurtiss</a></small>
			</p>
		</section>

		<section>
			<h2>Demo site!</h2>
			<img src="/static/data/goose.jfif" width=600></img>
			<h3><a href="http://sharedslides.com">sharedslides.com</a></h3>
			<ul>
				<li>
					All the good domain names are taken, sorry
				</li>
				<li>
					I own a cheap server, please don't spam it
				</li>
			</ul>
		</section>
		
		<section>
			<h2>Quick note on client/server</h2>
			<img src="/static/data/client-server.png" width=400></img>
			<p>
				Only important difference: who owns each computer.
			</p>
		</section>
		
		<section>
			<h2>Client-Side Anything</h2>
			<p>
				Anything sent to a client is controlled by the client!
			</p>
			<p>
				HTML/CSS: <a target="_blank" href="https://www.scribd.com/document/155028629">Paywall on Scribd</a>
			</p>
			<p>
				Correct implementation: <a target="_blank" href="https://www.chegg.com/homework-help/questions-and-answers/4-add-array-allow-input-strings-input-field-new-name-entered-add-array-nearby-div-show-nam-q44748363">Chegg</a>
			</p>
		</section>

		<section>
			<h2>Client-Side Anything</h2>
			<p>
				Mitigations:
				<ul>
					<li>Never send anything sensitive to the client</li>
					<li>Never run important code on the client</li>
					<li>Never trust the client</li>
				</ul>
			</p>
		</section>

		<section>
			<h2>Cross-Site Scripting (XSS)</h2>
			<h3>Or, "Whose HTML is it anyway?"</h3>
			<p>
				<img src='/static/data/xss_example.webp' width=500>
			</p>
		</section>

		<section>
			<h2>Cross-Site Scripting (XSS)</h2>
			<h3>Or, "Whose HTML is it anyway?"</h3>
			<p>
				Mitigations:
				<ul>
					<li><s>Never take user input</s></li>
					<li>Use safe functions such as e.textContent instead of e.innerHTML</li>
					<li>Use a Content Security Policy</li>
				</ul>
			</p>
		</section>

		<section>
			<h2>Aside: Content Security Policies (CSP)</h2>
			<code>
				script-src 'self' ajax.googleapis.com;
			</code>
		</section>

		<section>
			<h2>Cookie Manipulation</h2>
			<img src="/static/data/cookies.png" width=500></img>
			<p>
				Question from yesterday: cookie vs session variable?
			</p>
		</section>

		<section>
			<h2>Cookie Manipulation</h2>
			<p>
				Mitigations:
				<ul>
					<li>Cryptographically secure cookies</li>
					<li>Secure & HttpOnly cookies</li>
				</ul>
			</p>
		</section>

		<section>
			<h2>CSRF</h2>
			<p>
				Local demo (sorry)
			</p>
		</section>

		<section>
			<h2>CSRF</h2>
			<ol>
				<li>[bad website] links to [good website]</li>
				<li>Browser adds [good website]'s cookies to request</li>
				<li>???</li>
				<li>Profit</li>
			</ol>
		</section>

		<section>
			<h2>CSRF</h2>
			<p>
				Mitigations:
				<ul>
					<li><s>Don't allow links across websites</s></li>
				</ul>
			</p>
			<img src="/static/data/csrf.jpg" width=300></img>
			<p>
				Correct implementation: <a target="_blank" href="http://twitter.com">Twitter</a>
			</p>
		</section>

		<section>
			<h2>Questions?</h2>
		</section>
	</div>
</div>

<script src="static/reveal/js/reveal.js"></script>

<script>
	// More info about config & dependencies:
	// - https://github.com/hakimel/reveal.js#configuration
	// - https://github.com/hakimel/reveal.js#dependencies
	Reveal.initialize({
		hash: true,
		dependencies: [
			{ src: 'static/reveal/plugin/markdown/marked.js' },
			{ src: 'static/reveal/plugin/markdown/markdown.js' },
			{ src: 'static/reveal/plugin/highlight/highlight.js' },
			{ src: 'static/reveal/plugin/notes/notes.js', async: true }
		]
	});
</script>

<!-- Printing and PDF exports -->
<script>
	var link = document.createElement( 'link' );
	link.rel = 'stylesheet';
	link.type = 'text/css';
	link.href = window.location.search.match( /print-pdf/gi ) ? 'static/reveal/css/print/pdf.css' : 'static/reveal/css/print/paper.css';
	document.getElementsByTagName( 'head' )[0].appendChild( link );
</script>

<script>
	// When messaged, change to that slide.
	window.onmessage = function(e) {
		[indexh, indexv] = e.data.split('/').map(Number);
		Reveal.slide(indexh, indexv);
	};
	
	// On slide change, notify parent.
	Reveal.addEventListener('slidechanged', function(event) {
		window.top.postMessage({
			slide: `${event.indexh}/${event.indexv}`,
			user_caused: event.previousSlide !== undefined,
		}, '*');
	});
</script>
</body>
</html>