<div class="reveal">
	<div class="slides">
		<section>
			<h1>Reveal.js</h1>
			<h3>The HTML Presentation Framework</h3>
			<p>
				<small>Alex Curtiss</small>
			</p>
		</section>

		<!-- Example of nested vertical slides -->
		<section>
			<section>
				<h2>Vertical Slides</h2>
				<p>Slides can be nested inside of each other.</p>
				<p>Use the <em>Space</em> key to navigate through all slides.</p>
				<br>
				<a href="#" class="navigate-down">
					<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
				</a>
			</section>
			<section>
				<h2>Basement Level 1</h2>
				<p>Nested slides are useful for adding additional detail underneath a high level horizontal slide.</p>
			</section>
			<section>
				<h2>Basement Level 2</h2>
				<p>That's it, time to go back up.</p>
				<br>
				<a href="#/2">
					<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Up arrow" style="transform: rotate(180deg); -webkit-transform: rotate(180deg);">
				</a>
			</section>
		</section>

		<section>
			<h2>Slides</h2>
			<p>
				Not a coder? Not a problem. There's a fully-featured visual editor for authoring these, try it out at <a href="https://slides.com" target="_blank">https://slides.com</a>.
			</p>
		</section>

		<section>
			<h2>Point of View</h2>
			<p>
				Press <strong>ESC</strong> to enter the slide overview.
			</p>
			<p>
				Hold down the <strong>alt</strong> key (<strong>ctrl</strong> in Linux) and click on any element to zoom towards it using <a href="http://lab.hakim.se/zoom-js">zoom.js</a>. Click again to zoom back out.
			</p>
			<p>
				(NOTE: Use ctrl + click in Linux.)
			</p>
		</section>
	</div>
</div>

<script src="static/reveal/js/reveal.js"></script>

<script>
	// More info about config & dependencies:
	// - https://github.com/hakimel/reveal.js#configuration
	// - https://github.com/hakimel/reveal.js#dependencies
	Reveal.initialize({
		hash: true,
		dependencies: [
			{ src: 'static/reveal/plugin/markdown/marked.js' },
			{ src: 'static/reveal/plugin/markdown/markdown.js' },
			{ src: 'static/reveal/plugin/highlight/highlight.js' },
			{ src: 'static/reveal/plugin/notes/notes.js', async: true }
		]
	});
</script>
