<!doctype html>
<html class="fill">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Web Security Basics</title>

	<link rel="stylesheet" href="static/common.css">
	<link rel="stylesheet" href="static/signup.css">
</head>
<body class="fill">
    <form id="signup" class="fill" action="signup" method="POST">
        <div class="box vertical fill">
            <section class="box fits fill">
                <div class="box centered vertical grows">
                    <header class="signup-label">Username</header>
                    <input id="username" type="text" name="username">
                    <div id="error"></div>
                </div>
                <div class="box centered vertical grows">
                    <header class="signup-label">Profile Photo</header>
                    <div class="box photos">
                        {% for key, url in photos %}
                        <label>
                            <input type="radio" name="photo" value="{{ key }}" checked>
                            <img src="{{ url }}" class="faded-out t2s" onload="this.classList.remove('faded-out')">
                        </label>
                        {% endfor %}
                    </div>
                </div class="grows">
            </section>
            <footer class="box vertical centered fits">
                <input class="signup-button" type="submit" value="Sign up!">
            </footer>
        </div>
    </form>
    <script src="static/signup.js"></script>
</body>

</html>