<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<title>Web Security Basics</title>

	<!-- Overlay -->
	<link rel="stylesheet" href="static/common.css">
	<link rel="stylesheet" href="static/users.css">
</head>
<body>
	<form id="search-form" action="#">
		<input type=text id="search-input" name="search" placeholder="Search users"></input>
	</form>
	<div id="result-message"></div>
	<div class="profile-list box">
		{% for user in users %}
		<div class="user-profile">
			<img class="profile-picture" src="{{ user.profile_photo }}"></img>
			<div class="profile-username">{{ user.username }}</div>
		</div>
		{% endfor %}
	</div>
	<script src="static/users.js"></script>
</body>
</html>